.columnOne {
  width: 33%;
  padding-bottom: 20px;
}

.columnTwo {
  display: inline-block;
  width: 33%;
}

h1 {
  background-color: #F7E7CE;
}

.playerOne, .playerTwo {
  color: white;
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 60%;
}

.board {
  border: solid white;
  position: relative;
  left: 30%;
  width: 474px;
  padding: 2px;
}

.board div {
  display: inline-block;
  position: relative;
  background-color: lightslategray;
  width: 150px;
  height: 150px;
  border: solid white 2px;
  color: white;
  overflow: hidden;
  font-size: 60px;
  text-align: center;
  padding: 2px;
}

.scoreboard {
  border: solid black 1px;
  width: 40%;
  background-color: #5B92E1;
}

body {
  margin: 0;
}

canvas {
  width: 100%;
  height: 100%
}

button {
  padding: 20px 70px;
  color: #FBCCE7;
  border: 3px;
  outline: none;
  position: left;
  top: 0px;
  transition: top 0.5s;
  background-color: #CD5C5C;
}

button:hover {
  top: 5px;
}
